{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>About Lea Verou</h1>

    <p>Lea Verou is a computer scientist who is from Lesbos, Greece. She got her Bachelor of Science degree from Athens University of Economics and Business. She then earned a Master of science degree from MIT. She is currently a member of W3C Technical Architecture Group and her job is to design web technologies.</p>

    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>
</html>